<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<script src="angular/angular.min.js"></script>
	<script src="angular/angular.animate.min.js"></script>
	<script src="angular.min.js.map"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Multiplication</title>
</head>

<body>
	<header>
		<div id="top-bar">
			<span class="title">Angular Multiplication Table</span>
		</div>
	</header>
	<div class="content" ng-controller="multiplicationCtrl" initial-number-limit="10">
        <input type="number" ng-model="numberLimit" placeholder="Enter a number" />	
		<table>
			<tr ng-repeat="numberA in numbers()">
				<td ng-repeat="numberB in numbers()">
					{{ compute(numberA,numberB) }}
				</td>
			</tr>
		</table>
	</div>
	
</body>

</html>